.HeaderWrapper {
	background-color: lightgrey;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	& img {
		height: 100px;
		width: 100px;
	}
	@media (max-width: 700px) {
		padding: 20px;
		& img {
			height: 50px;
			width: 50px;
		}
	}
}
